### Hello World Python3

In [39]:
print("Hello World!")

Hello World!

### Importing Pandas and first csv

In [1]:
import pandas as pd
# import F450_HH.csv
df = pd.read_csv('Drone_RCS_Measurement_Dataset/F450_HH.csv')
df

        f[GHz]  theta[deg]  phi[deg]  RCS[dB]
0           26         -90         0 -36.6740
1           26         -89         0 -32.8700
2           26         -88         0 -27.6460
3           26         -87         0 -21.8830
4           26         -86         0 -18.1820
...        ...         ...       ...      ...
491410      40          86       180 -10.2940
491411      40          87       180 -12.2270
491412      40          88       180  -8.8701
491413      40          89       180 -11.6480
491414      40          90       180 -20.8360

[491415 rows x 4 columns]

### Check for NaN

In [41]:
df.isnull().values.any()

False

##### So we know there are no NaN

### #Check for Duplicates

In [42]:
# tf_duplicates_removed = df.drop_duplicates()
# print(tf_duplicates_removed)

### Shape and Description of DS - Kind of useless

In [43]:
df.shape

(491415, 4)

In [44]:
df.describe()

              f[GHz]     theta[deg]       phi[deg]        RCS[dB]
count  491415.000000  491415.000000  491415.000000  491415.000000
mean       33.000000       0.000000      90.000000     -15.172561
std         4.320498      52.249455      52.249455       6.726536
min        26.000000     -90.000000       0.000000     -71.563000
25%        29.000000     -45.000000      45.000000     -19.001000
50%        33.000000       0.000000      90.000000     -14.826000
75%        37.000000      45.000000     135.000000     -11.053000
max        40.000000      90.000000     180.000000      10.431000

### Adding NAME Column

In [84]:
df['Type'] = 'F450_HH'
df.head()

   f[GHz]  theta[deg]  phi[deg]  RCS[dB]     Type
0      26         -90         0  -36.674  F450_HH
1      26         -89         0  -32.870  F450_HH
2      26         -88         0  -27.646  F450_HH
3      26         -87         0  -21.883  F450_HH
4      26         -86         0  -18.182  F450_HH

### Exporting to .CSV

In [46]:
df.to_csv('F450_HH_Type.csv')

### Importing another .CSV

In [85]:
df1 = pd.read_csv('Drone_RCS_Measurement_Dataset/Heli_HH.csv')
df1.isnull().values.any()
df1['Type'] = 'Heli_HH'
df1.to_csv('Heli_HH_Type.csv')
df1.head()

   f[GHz]  theta[deg]  phi[deg]  RCS[dB]     Type
0      26         -90         0  -9.8879  Heli_HH
1      26         -89         0 -20.9020  Heli_HH
2      26         -88         0 -24.2860  Heli_HH
3      26         -87         0 -12.8000  Heli_HH
4      26         -86         0 -19.6170  Heli_HH

## Trying to ML

In [88]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# X, Y are for DF
# X = df.drop(columns=['Type'])
# Y = df['Type']
# X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)


# X1, Y1 are for DF1
X1 = df1.drop(columns=['Type'])
Y1 = df1['Type']
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size=0.2)

# model
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
model.fit(X1_train, Y1_train)

#predictions
prediction = model.predict(X_test)
prediction1 = model.predict(X1_test)

score = accuracy_score(Y_test, prediction)
score1 = accuracy_score(Y1_test, prediction1)

print(score)
print("diocane")
print(score1)

### That didn't worked out

## Merging the dataframes

In [86]:
# df, df1
frames = [df, df1]
result = pd.concat(frames)
print(result)

        f[GHz]  theta[deg]  phi[deg]   RCS[dB]     Type
0           26         -90         0 -36.67400  F450_HH
1           26         -89         0 -32.87000  F450_HH
2           26         -88         0 -27.64600  F450_HH
3           26         -87         0 -21.88300  F450_HH
4           26         -86         0 -18.18200  F450_HH
...        ...         ...       ...       ...      ...
491410      40          86       180  -0.85614  Heli_HH
491411      40          87       180  -2.61810  Heli_HH
491412      40          88       180   0.30486  Heli_HH
491413      40          89       180  -0.41914  Heli_HH
491414      40          90       180  -1.99710  Heli_HH

[982830 rows x 5 columns]

### Testing ML

In [91]:
# X, Y are for DF
X2 = result.drop(columns=['Type'])
Y2 = result['Type']
X2_train, X2_test, Y2_train, Y2_test = train_test_split(X2, Y2, test_size=0.2)


# model
model2 = DecisionTreeClassifier()
model2.fit(X2_train, Y2_train)


#predictions
prediction2 = model2.predict(X2_test)


score2 = accuracy_score(Y2_test, prediction2)

print(score2)

0.5523640914501999

##### E' gia' qualcosa